<md-dialog class="compose-dialog" aria-label="Evaluation Information">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Deduction</span>
                <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!-- FORM WIZARD -->
        <ms-form-wizard flex>
            <div class="divMarCompos">
                <div class="divBtn" layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="30">
                        <input ng-disabled="true" type="text" name="firstname" ng-model="selectedMail.PersonalInfo.FirstNameEN" placeholder="Firstname" required>
                        <div ng-messages="wizardStep1.firstname.$error" role="alert">
                            <div ng-message="required">
                                <span>Firstname field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="30">
                        <input ng-disabled="true" type="text" name="lastname" ng-model="selectedMail.PersonalInfo.LastNameEN" placeholder="Lastname" required>
                        <div ng-messages="wizardStep1.lastname.$error" role="alert">
                            <div ng-message="required">
                                <span>Lastname field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="divBtn" layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="30">
                        <input ng-disabled="true" type="text" name="position" ng-model="selectedMail.PersonalInfo.Position" placeholder="Position" required>
                        <div ng-messages="wizardStep1.firstname.$error" role="alert">
                            <div ng-message="required">
                                <span>Position field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="margin-25" layout="row" ng-hide="showme">
                    <div flex>
                        <a href="" ng-click="showme=true">
                            <md-icon class="iconSize" md-font-icon="icon-plus-box"></md-icon>
                        </a> <span class="margin-left-25">Add Deduction</span>
                    </div>
                </div>
                <!-- List -->
                <div class="divBtn7" ng-show="showme">
                    <div class="divBtn" layout="row">
                        <md-input-container flex="50">
                            <input type="text" name="DetailDe" ng-model="deduction.DetailDe" placeholder="DeductionName" required>
                        </md-input-container>
                        <md-input-container flex="50">
                            <input type="text" name="AmountDe" ng-model="deduction.AmountDe" placeholder="Amount" required>
                        </md-input-container>
                    </div>
                    <div class="divBtn2" layout="row">
                        <md-input-container flex="10">
                            From
                        </md-input-container>
                        <md-input-container flex="40">
                            <input type="date" name="StartDateDe" ng-model="deduction.StartDateDe">
                        </md-input-container>
                        <md-input-container flex="10">
                            To
                        </md-input-container>
                        <md-input-container flex="40">
                            <input type="date" name="EndDateDe" ng-model="deduction.EndDateDe">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <div flex="80">
                        </div>
                        <div flex="20">
                            <md-button class="md-raised md-accent md-button md-ink-ripple" ng-click="showme=false;addDeduction()">
                                Add Deduction
                            </md-button>
                        </div>
                    </div>
                </div>
                <div class="marginZero" ng-repeat="deduc in newDeduc.DeductionInfo" class="hrBorder marginThree margin-bottom--12" style="margin-top:-1px;border: 1px;border-top-style:groove;border-bottom-style:groove;">
                    <div class="divBtn" layout="row">
                        <md-input-container flex="20">
                            <b>Deduction Name</b>
                        </md-input-container>
                        <md-input-container flex="25">
                            <span>{{deduc.DetailDe}}</span>
                        </md-input-container>
                        <md-input-container flex="20">
                            <b>Amount</b>
                        </md-input-container>
                        <md-input-container flex="25">
                            <span>{{deduc.AmountDe | currency:"":0}}</span> Baht
                        </md-input-container>
                    </div>
                    <div class="marginZero" layout="row">
                        <md-input-container flex="20">
                            <b>From</b>
                        </md-input-container>
                        <md-input-container flex="25">
                            {{deduc.StartDateDe | date : 'MM/yyyy'}}
                        </md-input-container>
                        <md-input-container flex="20">
                            <b>To</b>
                        </md-input-container>
                        <md-input-container flex="25">
                            {{deduc.EndDateDe | date : 'MM/yyyy'}}
                        </md-input-container>
                     
                            <div>
                            <md-icon style="cursor:pointer; margin:0px;font-size:25px;" class="icon"  md-font-icon="icon-trash" ng-click="removeDeduction($index)"></md-icon>
                            </div>
                    </div>
                </div>
                <div class="navigation" flex layout="row" layout-align="right">
                    <md-button class="md-raised md-accent md-button md-ink-ripple" ng-click="closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="EMP.CLOSE_DIALOG">
                        Cancel
                    </md-button>
                    <span class="btn-right">
                <md-button class="md-raised md-accent" ng-click="saveDeduction()">
                    Done
                </md-button>
                 </span>
                </div>
            </div>
        </ms-form-wizard>
    </form>
</md-dialog>
