<md-dialog class="compose-dialog" aria-label="Evaluation Information">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Deduction</span>
                <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!-- FORM WIZARD -->
        <ms-form-wizard flex>
            <div class="divMarCompos">
                <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                    <div class="divBtn" layout="column" layout-gt-xs="row" flex>
                        <md-input-container flex="30">
                            <input ng-disabled="true" type="text" name="employeeNo" ng-model="selectedEval.PersonalInfo.EmpID" placeholder="Employee No" required>
                            <div ng-messages="wizardStep1.firstname.$error" role="alert">
                                <div ng-message="required">
                                    <span>Employee No field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="30">
                            <input ng-disabled="true" type="text" name="dateStart" ng-model="selectedEval.PersonalInfo.StartDate" placeholder="Date Start" required>
                            <div ng-messages="wizardStep1.lastname.$error" role="alert">
                                <div ng-message="required">
                                    <span>Date Start field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="30">
                        </md-input-container>
                    </div>
                    <div class="divBtn" layout="column" layout-gt-xs="row" flex>
                        <md-input-container flex="30">
                            <input ng-disabled="true" type="text" name="firstname" ng-model="selectedEval.PersonalInfo.FirstNameTH" placeholder="Firstname" required>
                            <div ng-messages="wizardStep1.firstname.$error" role="alert">
                                <div ng-message="required">
                                    <span>Firstname field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="30">
                            <input ng-disabled="true" type="text" name="lastname" ng-model="selectedEval.PersonalInfo.LastNameTH" placeholder="Lastname" required>
                            <div ng-messages="wizardStep1.lastname.$error" role="alert">
                                <div ng-message="required">
                                    <span>Lastname field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="30">
                        </md-input-container>
                    </div>
                    <div class="divBtn" layout="column" layout-gt-xs="row" flex>
                        <md-input-container flex="30">
                            <input ng-disabled="true" type="text" name="position" ng-model="selectedEval.PersonalInfo.Position" placeholder="Position" required>
                            <div ng-messages="wizardStep1.firstname.$error" role="alert">
                                <div ng-message="required">
                                    <span>Position field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="30">
                            <input ng-disabled="true" type="text" name="dateConf" ng-model="selectedEval.EvaluationInfo.DateConfirmedEV" placeholder="Date Confirmed" required>
                            <div ng-messages="wizardStep1.lastname.$error" role="alert">
                                <div ng-message="required">
                                    <span>Date Confirmed field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="30">
                        </md-input-container>
                    </div>
                    <!-- /////// -->
                </form>
            </div>
            <table class="simple" ms-responsive-table>
                <thead>
                    <tr>
                        <th width="500px">Issue</th>
                        <th class="text-center">5</th>
                        <th class="text-center">4</th>
                        <th class="text-center">3</th>
                        <th class="text-center">2</th>
                        <th class="text-center">1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">Job Learning</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Job Knowledge & Skill</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Adaptation</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Rules Respect</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Communication</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Attitude</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Planning and Following up on work</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Decision Makong / Problem Solving</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Responsibility</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Co-operation with Colleagues</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Scores</td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked5}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked4}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked3}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked2}}" name="{{x.issueName}}">
                        </td>
                        <td class="text-center">
                            <input type="radio" ng-checked="{{x.checked1}}" name="{{x.issueName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Total Scores</td>
                        <td class="text-center" colspan="5">
                            <md-input-container>
                                <input type="text" name="">
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Persent</td>
                        <td class="text-center" colspan="5">
                            <md-input-container>
                                <input type="text" name="">
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">Other</td>
                        <td class="text-center" colspan="5">
                            <md-input-container>
                                <textarea></textarea>
                            </md-input-container>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <div class="divBtn layout-gt-xs-row layout-column" layout="column" layout-gt-xs="row" flex="">
                <md-input-container class="md-default-theme margin-bottom-25 margin-left-20">
                    <span>Evaluation Type</span>
                </md-input-container>
            </div>
            <table>
                <tr>
                    <td class="text-center" colspan="5">
                        <input type="radio" name="evalType" class="margin-bottom-35 margin-left-55 margin-top-35">
                    </td>
                    <td class="text-left">Confirmed</td>
                    <td class="text-center" style="padding-left:30px" colspan="5">
                        <input type="radio" name="evalType">
                    </td>
                    <td class="text-left">Extended</td>
                    <td class="text-center" colspan="5">
                        <md-input-container>
                            <input type="text" name="">
                        </md-input-container>
                    </td>
                    <td class="text-left">Day</td>
                    <td class="text-center" style="padding-left:30px" colspan="5">
                        <input type="radio" name="evalType">
                    </td>
                    <td class="text-left">Not Confirmed</td>
                </tr>
            </table>
            <div class="navigation" flex layout="row" layout-align="right">
                <md-button class="md-raised md-accent md-button md-ink-ripple" ng-click="closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="EMP.CLOSE_DIALOG">
                    Cancel
                </md-button>
                <span class="btn-right">
                <md-button class="md-raised md-accent" ng-click="">
                    Done
                </md-button>
                 </span>
            </div>
        </ms-form-wizard>
    </form>
</md-dialog>
