<md-dialog class="compose-dialog" aria-label="New Employee">
    <form class="md-inline-form" name="regardEmpForm">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Regard Employee</span>
                <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!-- FORM WIZARD -->
        <div class="divMarCompos">
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                <div class="divBtn" layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="30">
                        <input ng-disabled="true" type="text" name="firstname" ng-model="selectedEmp.PersonalInfo.FirstNameEN" placeholder="Firstname" required>
                        <div ng-messages="wizardStep1.firstname.$error" role="alert">
                            <div ng-message="required">
                                <span>Firstname field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="30">
                        <input ng-disabled="true" type="text" name="lastname" ng-model="selectedEmp.PersonalInfo.LastNameEN" placeholder="Lastname" required>
                        <div ng-messages="wizardStep1.lastname.$error" role="alert">
                            <div ng-message="required">
                                <span>Lastname field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="30">
                    </md-input-container>
                </div>
                <!-- /////// -->
                <div class="divBtn" layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="30">
                        <input type="text" name="position" ng-model="selectedEmp.PersonalInfo.Position" placeholder="Position" required>
                        <div ng-messages="wizardStep1.firstname.$error" role="alert">
                            <div ng-message="required">
                                <span>Position field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="30">
                        <input type="text" name="salary" ng-model="selectedEmp.PersonalInfo.Salary" placeholder="Salary" required>
                        <div ng-messages="wizardStep1.lastname.$error" role="alert">
                            <div ng-message="required">
                                <span>Salary field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="30">
                    </md-input-container>
                </div>
                <!-- /////// -->
                <div class="divBtn" layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="65">
                        <input type="text" name="dateStart" ng-model="selectedEmp.PersonalInfo.StartDate" placeholder="Date Start" required>
                        <div ng-messages="wizardStep1.firstname.$error" role="alert">
                            <div ng-message="required">
                                <span>Date Start field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="30">
                    </md-input-container>
                </div>
            </form>
            <div class="margin-25" layout="row" ng-hide="showme">
                <div flex>
                    <a href="" ng-click="showme=true">
                        <md-icon class="iconSize" md-font-icon="icon-plus-box"></md-icon>
                    </a> <span class="margin-left-25">Add Benefits</span>
                </div>
            </div>
            <!-- List -->
            <div class="divBtn" layout="row" ng-show="showme">
                <div flex="70">
                    <md-input-container style="display:block">
                        <label>Add Benefits</label>
                        <md-select ng-model="newBnf">
                            <md-option ng-repeat="item in benefitsList" ng-value="item">
                                {{item.NameBN}}
                            </md-option>
                        </md-select>
                        <md-input-container>
                </div>
                <div flex="20">
                    <md-button class="md-raised md-accent" ng-click="showme=false;addBenefitsList()">
                        Add Benefits
                    </md-button>
                </div>
            </div>
            <div class="info hrBorder marginZero" flex layout="column" ng-repeat="bnf in selectedEmp.BenefitsInfo">
                <div layout="row" layout-xs="column">
                    
                    <div flex="10">
                        <md-icon md-font-icon="icon-person-box" class="iconMargin"></md-icon>
                    </div>
                    <div flex>
                        <p class="text-truncate">{{bnf.NameBN}}</p>
                        <p class="text-truncate">{{bnf.DetailBN}}</p>
                        <p class="text-truncate">{{bnf.BnID}}</p>
                    </div>
                    <div flex="10">
                    <md-icon md-font-icon="icon-delete" class="iconMargin" ng-click="deleteBnf(bnf.BnID)"></md-icon>
                    </div>
                </div>
            </div>
            <div class="navigation" flex layout="row" layout-align="right">
                <md-button class="md-raised md-accent md-button md-ink-ripple" ng-click="closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="EMP.CLOSE_DIALOG">
                    Cancel
                </md-button>
                <span class="btn-right">
                        <md-button class="md-raised md-accent" ng-click="saveRegardEmployee()">
                            Done
                        </md-button>
                    </span>
            </div>
    </form>
</md-dialog>
