<!-- MAIL LIST ITEMS -->
<div class="mail-list-item {{mail.status}}" ng-repeat="mail in empPms | filter: search | filter: global.search | filter: selectedBy" md-ink-ripple ng-click="selectMail(mail);showRead" ng-show="showList" ng-class="{'starred': mail.starred, 'selected': selectedMail === mail, 'checked': vm.isChecked(mail)}">
    <div layout="row" layout-align="start center" ng-repeat="mails in mail.personalInfo">
        <!-- <md-checkbox class="no-label" ng-checked="vm.isChecked(mail)" ng-click="vm.toggleCheck(mail, $event)" aria-label="{{vm.isChecked(mail)? 'Uncheck':'check'}}">
        </md-checkbox> -->
        <div class="info" flex layout="column" ng-repeat="mails in mail.personalInfo">
            <div class="name" layout="row" layout-align="start center">
                <img class="avatar" ng-src="{{mails.img}}" />
                <div class="avatar" ng-if="!mails.img" ms-random-class="colors">
                </div>
                <span class="text-truncate">{{mails.nameEn}}</span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span class="text-truncate">{{mails.LastNameEn}}</span>

                <!-- <hr> -->
            </div>
            <div layout="row" layout-xs="column">
            <div flex="10" align="left">
                </div>
                <div flex="45" align="left">
                    {{mails.position}}
                </div>
                <div flex="45" align="left">
                    {{mail.date}}
                </div>
                <div flex>
                </div>
                <div flex>
                </div>
            </div>
        </div>
        <!-- <div layout="column" layout-align="space-between end">
            <div class="time">{{mails.time}}</div>
            <md-button class="md-icon-button" ng-click="vm.toggleStarred(mail, $event)" aria-label="Toggle starred" translate translate-attr-toogle-starred="MAIL.TOGGLE_STARRED">
                <md-icon ng-if="mail.starred" md-font-icon="icon-star" class="amber-fg"></md-icon>
                <md-icon ng-if="!mail.starred" md-font-icon="icon-star-outline"></md-icon>
            </md-button>
        </div> -->
    </div>

</div>

