<!-- 1 -->
<div ng-show="showRead">
    <md-card>
        <md-toolbar class="md-accent">
            <h2 class="md-toolbar-tools">
      <span flex>Personal Information</span>
      <!-- <md-button class="md-icon-button" ng-click="FnEditPer()"  tranlate
                           translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-table-edit"></md-icon>
                </md-button> -->
                <!-- <md-button class="md-icon-button" ng-click="FnEditPer($event)"  tranlate
                           translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-table-edit"></md-icon>
                </md-button> -->
    </h2>
        </md-toolbar>
        <md-card-content ng-show="modeShowPer">
            <div>
                <div layout="row" layout-xs="column">
                    <div flex="90">
                    </div>
                    <div class="imgStyle">
                        <img class="avatar" ng-src="{{per.img}}" />
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div flex="45">
                        <span><b>FirstName :</b> {{selectedMail.PersonalInfo.FirstNameEN}}</span>
                    </div>
                    <div>
                        <span><b>LastName :</b> {{selectedMail.PersonalInfo.LastNameEN}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div flex="45">
                        <span><b>Position :</b> {{selectedMail.PersonalInfo.Position}}</span>
                    </div>
                    <div>
                        <span><b>Salary :</b> {{selectedMail.PersonalInfo.Salary}} THB</span>
                    </div>
                </div>
                <!-- //////////////// -->
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div flex="45">
                        <span><b>Birthdate :</b> {{selectedMail.PersonalInfo.Birthdate | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div flex>
                        <span><b>Age :</b> {{selectedMail.PersonalInfo.Age}} Yrs.</span>
                    </div>
                </div>
                <!-- //////////////// -->
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div flex="45">
                        <span><b>Sex :</b> {{selectedMail.PersonalInfo.Sex}}</span>
                    </div>
                    <div flex>
                        <span><b>Race :</b> {{selectedMail.PersonalInfo.Race}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div flex="45">
                        <span><b>Nationality :</b> {{selectedMail.PersonalInfo.Nationality}}</span>
                    </div>
                    <div flex>
                        <span><b>Religion :</b> {{selectedMail.PersonalInfo.Religion}}</span>
                    </div>
                </div>
                <!-- /////////////// -->
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div flex="45">
                        <span><b>IDCard No. :</b> {{selectedMail.PersonalInfo.IDCard}}</span>
                    </div>
                    <div flex>
                        <span><b>Expiration Date :</b> {{selectedMail.PersonalInfo.IDCardExp}}</span>
                    </div>
                </div>
                <!-- ////////////////// -->
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div flex="45">
                        <span><b>Email :</b> {{selectedMail.PersonalInfo.Email}}</span>
                    </div>
                    <div flex>
                        <span><b>Account :</b> {{selectedMail.PersonalInfo.Account}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                </div>
                <div ng-hide="personalShowDis">
                    <div layout="row" layout-xs="column">
                        <div flex="90">
                        </div>
                        <div flex>
                            <div ng-click="personalShowDis = true">
                                <span style="font-weight: bold;cursor:pointer">More</span>
                                <!-- <md-icon md-font-icon="icon-dots-horizontal" class="icon"></md-icon> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ////////////////// -->
                <div ng-show="personalShowDis">
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex="45">
                            <span><b>Address :</b> {{selectedMail.PersonalInfo.PresentAddress}}</span>
                        </div>
                        <div flex>
                            <span><b>Moo :</b> {{selectedMail.PersonalInfo.Moo}}</span>
                        </div>
                    </div>
                    <!-- //////////////////// -->
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex="45">
                            <span><b>Road :</b> {{selectedMail.PersonalInfo.LastNameEN}}</span>
                        </div>
                        <div flex>
                            <span><b>District :</b> {{selectedMail.PersonalInfo.District}}</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex="45">
                            <span><b>Amphur :</b> {{selectedMail.PersonalInfo.Amphur}}</span>
                        </div>
                        <div flex>
                            <span><b>Province :</b> {{selectedMail.PersonalInfo.Province}}</span>
                        </div>
                    </div>
                    <!-- ////////////////// -->
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex="45">
                            <span><b>Postcode :</b> {{selectedMail.PersonalInfo.Postcode}}</span>
                        </div>
                        <div flex>
                            <span><b>Tel :</b> {{selectedMail.PersonalInfo.Tel}}</span>
                        </div>
                    </div>
                    <!-- ////////////////////// -->
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex="45">
                            <span><b>Mobile :</b> {{selectedMail.PersonalInfo.Moblie}}</span>
                        </div>
                        <div flex>
                            <span><b>Height :</b> {{selectedMail.PersonalInfo.Height}} cm.</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex="45">
                            <span><b>Weight :</b> {{selectedMail.PersonalInfo.Weight}} kgs.</span>
                        </div>
                        <div flex>
                            <span><b>Underlying disease :</b> {{selectedMail.PersonalInfo.UnderlyingDisease}}</span>
                        </div>
                    </div>
                    <!-- //////////////////// -->
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex="45">
                            <span><b>Living :</b> {{selectedMail.PersonalInfo.Living}}</span>
                        </div>
                        <div flex>
                            <span><b>Military :</b> {{selectedMail.PersonalInfo.Military}}</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex="45">
                            <span><b>Marital :</b> {{selectedMail.PersonalInfo.Marital}}</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column">
                        <div flex="90">
                        </div>
                        <div flex>
                            <div ng-click="personalShowDis = false">
                                <span style="font-weight: bold;cursor:pointer">Hide</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
        <md-card-content ng-hide="modeEditPer">
            <div>
                <div layout="row" layout-xs="column">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="FirstName" ng-model="selectedMail.PersonalInfo.FirstNameEN" placeholder="FirstName" required>
                        </md-input-container>
                        <!-- <span>FirstName : {{per.nameEn}}</span> -->
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="LastName" ng-model="selectedMail.PersonalInfo.LastNameEN" placeholder="LastName" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Position" ng-model="selectedMail.PersonalInfo.Position" placeholder="Position" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Salary" ng-model="selectedMail.PersonalInfo.Salary" placeholder="Salary" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Birthdate" ng-model="selectedMail.PersonalInfo.Birthdate" placeholder="Birth date" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Age" ng-model="selectedMail.PersonalInfo.Age" placeholder="Age" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Sex" ng-model="selectedMail.PersonalInfo.Sex" placeholder="Sex" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Race" ng-model="selectedMail.PersonalInfo.Race" placeholder="Race" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Nationality" ng-model="selectedMail.PersonalInfo.Nationality" placeholder="Nationality" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Religion" ng-model="selectedMail.PersonalInfo.Religion" placeholder="Religion" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="IDCardNo" ng-model="selectedMail.PersonalInfo.IDCard" placeholder="IDCard No" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="ExpirationDate" ng-model="selectedMail.PersonalInfo.IDCardExp" placeholder="Expiration Date" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Email" ng-model="selectedMail.PersonalInfo.Email" placeholder="Email" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Account" ng-model="selectedMail.PersonalInfo.Account" placeholder="Account" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Address" ng-model="selectedMail.PersonalInfo.PresentAddress" placeholder="Address" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Moo" ng-model="selectedMail.PersonalInfo.Moo" placeholder="Moo" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Road" ng-model="selectedMail.PersonalInfo.Province" placeholder="Road" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="District" ng-model="selectedMail.PersonalInfo.District" placeholder="District" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Amphur" ng-model="selectedMail.PersonalInfo.Amphur" placeholder="Amphur" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Province" ng-model="selectedMail.PersonalInfo.Province" placeholder="Province" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Postcode" ng-model="selectedMail.PersonalInfo.Postcode" placeholder="Postcode" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Tel" ng-model="selectedMail.PersonalInfo.Tel" placeholder="Tel" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Mobile" ng-model="selectedMail.PersonalInfo.Moblie" placeholder="Mobile" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Height" ng-model="selectedMail.PersonalInfo.Height" placeholder="Height" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Weight" ng-model="selectedMail.PersonalInfo.Weight" placeholder="Weight" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Underlyingdisease" ng-model="selectedMail.PersonalInfo.UnderlyingDisease" placeholder="Underlying disease" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Living" ng-model="selectedMail.PersonalInfo.Living" placeholder="Living" required>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Military" ng-model="selectedMail.PersonalInfo.Military" placeholder="Military" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-top: -45px;">
                    <div flex>
                        <md-input-container>
                            <input type="text" name="Marital" ng-model="selectedMail.PersonalInfo.Marital" placeholder="Marital" required>
                        </md-input-container>
                    </div>
                </div>
                <div class="navigation fixPos" flex layout="row" layout-align="center center">
                    <md-button class="md-raised md-accent" ng-click="FnCancelPer()">
                        Cancel
                    </md-button>
                    <md-button class="md-raised md-accent" ng-click="FnSavePer()">
                        Save
                    </md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <!-- 2 -->
    <md-card>
        <md-toolbar class="md-accent">
            <h2 class="md-toolbar-tools">
      <span flex>Family Information</span>
      <!-- <md-button class="md-icon-button" ng-click="" aria-label="Close dialog" tranlate
                           translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-table-edit"></md-icon>
                </md-button> -->
    </h2>
        </md-toolbar>
        <md-card-content ng-show="modeShowFam">
            <div ng-repeat="fam in selectedEmp.FamilyInfo">
                <div layout="row" layout-align="start center">
                    <div class="info" flex layout="column">
                        <div class="name" layout="row" layout-align="start center">
                            <span class="logo-icon iconMargin">
        
            <md-icon md-font-icon="icon-person-box" class="icon"></md-icon>
        </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <div class="info" flex layout="column">
                                <div class="name" layout="row" layout-align="start center">
                                    <span class="text-truncate">{{fam.FirstNameFI}} &nbsp;&nbsp;&nbsp; {{fam.LastnameFI}} </span>
                                    <!-- <hr> -->
                                </div>
                                <div class="hrBorder" layout="row" layout-xs="column">
                                    <div flex>
                                        <span>Age : {{fam.AgeFI}} Yrs.</span>
                                        <span>( {{fam.RelatedFI}} )</span>
                                        <span>Occupation [ {{fam.OccupationFI}} ]</span>
                                        <span>Tel : {{fam.TelFI}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr> -->
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
        <!-- <md-card-content ng-hide="modeEditFam">
            <div layout="row" class="margin-bottom-10">
                <div flex>
                <md-icon md-font-icon="icon-account-plus" class="icon" ng-click="editFamily()"></md-icon> Add Family
                </div>
            </div>
            <div ng-repeat="fam in selectedEmp.FamilyInfo">
                <div layout="row" layout-align="start center">
                    <div class="info" flex layout="column">
                        <div class="name" layout="row" layout-align="start center">
                            <span class="logo-icon iconMargin">
            <md-icon md-font-icon="icon-person-box" class="icon"></md-icon>
        </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <div class="info" flex layout="column">
                                <div class="name" layout="row" layout-align="start center">
                                    <span class="text-truncate">{{fam.FirstNameFI}} &nbsp;&nbsp;&nbsp; {{fam.LastnameFI}} </span>
                                    <hr>
                                </div>
                                <div class="hrBorder" layout="row" layout-xs="column">
                                    <div flex>
                                        <span>Age : {{fam.AgeFI}} Yrs.</span>
                                        <span>( {{fam.RelatedFI}} )</span>
                                        <span>Occupation [ {{fam.OccupationFI}} ]</span>
                                        <span>Tel : {{fam.TelFI}}</span>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <hr> -->
                        <!-- </div>
                    </div>
                </div>
            </div>
            <div class="navigation fixPos" flex layout="row" layout-align="center center">
                <md-button class="md-raised md-accent" ng-click="FnCancelFam()">
                    Cancel
                </md-button>
                <md-button class="md-raised md-accent" ng-click="FnSaveFam()">
                    Save
                </md-button>
            </div>
        </md-card-content> -->
    </md-card>
    <!-- 3 -->
    <md-card>
        <md-toolbar class="md-accent">
            <h2 class="md-toolbar-tools">
      <span flex>Education Information</span>
      <!-- <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                           translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-table-edit"></md-icon>
                </md-button> -->
    </h2>
        </md-toolbar>
        <md-card-content>
            <div ng-repeat="edu in selectedEmp.EducationInfo">
                <div layout="row" layout-align="start center">
                    <div class="info" flex layout="column">
                        <div class="name" layout="row" layout-align="start center">
                            <span class="logo-icon iconMargin">
            <md-icon md-font-icon="icon-school" class="icon"></md-icon>
        </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <div class="info" flex layout="column">
                                <div class="name" layout="row" layout-align="start center">
                                    <span class="text-truncate">{{edu.EducationLevelEI}}  </span>
                                    <!-- <hr> -->
                                </div>
                                <div class="hrBorder" layout="row" layout-xs="column">
                                    <div flex>
                                        <span>{{edu.MajorEI}}</span>
                                        <span>{{edu.InstitutionEI}}</span>
                                        <span>( {{edu.DateFromEI | date: 'dd/MM/yyyy'}} - {{edu.DateToEI | date: 'dd/MM/yyyy'}} )</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr> -->
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <!-- 4 -->
    <md-card>
        <md-toolbar class="md-accent">
            <h2 class="md-toolbar-tools">
      <span flex>Work Experience</span>
      <!-- <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                           translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-table-edit"></md-icon>
                </md-button> -->
    </h2>
        </md-toolbar>
        <md-card-content>
            <div ng-repeat="work in selectedEmp.WorkExperienceInfo">
                <div layout="row" layout-align="start center">
                    <div class="info" flex layout="column">
                        <div class="name" layout="row" layout-align="start center">
                            <span class="logo-icon iconMargin">
            <md-icon md-font-icon="icon-briefcase" class="icon"></md-icon>
        </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <div class="info" flex layout="column">
                                <div class="name" layout="row" layout-align="start center">
                                    <span class="text-truncate">{{work.CompanyWI}}  </span>
                                    <!-- <hr> -->
                                </div>
                                <div layout="row" layout-xs="column">
                                    <div flex>
                                        <span>{{work.PositionWI}}</span>
                                        <span>( {{work.DateFromWI | date: 'dd/MM/yyyy'}} - {{work.DateToWI | date: 'dd/MM/yyyy'}} )</span>
                                    </div>
                                </div>
                                <div class="hrBorder" layout="row" layout-xs="column">
                                    <div flex>
                                        <span>{{work.JobDescWI}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr> -->
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <!-- 5 -->
    <md-card>
        <md-toolbar class="md-accent">
            <h2 class="md-toolbar-tools">
      <span flex>Language Ability</span>
      <!-- <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                           translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-table-edit"></md-icon>
                </md-button> -->
    </h2>
        </md-toolbar>
        <md-card-content>
            <div ng-repeat="lang in selectedEmp.LanguageInfo">
                <div layout="row" layout-align="start center">
                    <div class="info" flex layout="column">
                        <div class="name" layout="row" layout-align="start center">
                            <span class="logo-icon iconMargin">
            <md-icon md-font-icon="icon-earth" class="icon"></md-icon>
        </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <div class="info" flex layout="column">
                                <div class="name" layout="row" layout-align="start center">
                                    <span class="text-truncate">{{lang.LanguageTypeLI}}  </span>
                                    <!-- <hr> -->
                                </div>
                                <div class="hrBorder" layout="row" layout-xs="column">
                                    <div flex>
                                        <span>Speaking : {{lang.SpeakingLI}} |</span>
                                        <span>Writing : {{lang.WritingLI}} |</span>
                                        <span>Reading : {{lang.ReadingLI}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr> -->
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <!-- 6 -->
    <md-card>
        <md-toolbar class="md-accent">
            <h2 class="md-toolbar-tools">
      <span flex>Special Ability</span>
      <!-- <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                           translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-table-edit"></md-icon>
                </md-button> -->
    </h2>
        </md-toolbar>
        <md-card-content>
            <div layout="row" layout-xs="column" ng-repeat="spe in selectedEmp.SpecialInfo" style="margin-bottom:5px;">
                <div flex="35">
                    <span class="fontStyle">Typing</span>
                </div>
                <div flex>
                    <span>Thai {{spe.TypingTHSI}} Word/Minutes</span>
                </div>
            </div>
            <div layout="row" layout-xs="column" ng-repeat="spe in selectedEmp.SpecialInfo" style="margin-bottom:5px;">
                <div flex="35">
                    <span></span>
                </div>
                <div flex>
                    <span>English {{spe.TypingENSI}} Word/Minutes</span>
                </div>
            </div>
            <div layout="row" layout-xs="column" ng-repeat="spe in selectedEmp.SpecialInfo" style="margin-bottom:5px;">
                <div flex="35">
                    <span class="fontStyle">Computer</span>
                </div>
                <div flex>
                    <span>{{spe.ComputerSI}}</span>
                </div>
            </div>
            <div layout="row" layout-xs="column" ng-repeat="spe in selectedEmp.SpecialInfo" style="margin-bottom:5px;">
                <div flex="35">
                    <span class="fontStyle">Driving</span>
                </div>
                <div flex>
                    <span>No. {{spe.DrivingSI}}</span>
                </div>
            </div>
            <!-- /////////////////////////// -->
            <div ng-hide="specialShowDis">
                <div layout="row" layout-xs="column">
                    <div flex="90">
                    </div>
                    <div flex>
                        <div ng-click="specialShowDis = true">
                            <span style="font-weight: bold;cursor:pointer">More</span>
                            <!-- <md-icon md-font-icon="icon-dots-horizontal" class="icon"></md-icon> -->
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="specialShowDis">
                <div layout="row" layout-xs="column" ng-repeat="spe in selectedEmp.SpecialInfo" style="margin-bottom:5px;">
                    <div flex="35">
                        <span class="fontStyle">Office Machine</span>
                    </div>
                    <div flex>
                        <span>{{spe.OfficeMachineSI}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" ng-repeat="spe in selectedEmp.SpecialInfo" style="margin-bottom:5px;">
                    <div flex="35">
                        <span class="fontStyle">Hobby</span>
                    </div>
                    <div flex>
                        <span>{{spe.HobbiceSI}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" ng-repeat="spe in selectedEmp.SpecialInfo" style="margin-bottom:5px;">
                    <div flex="35">
                        <span class="fontStyle">Sport</span>
                    </div>
                    <div flex>
                        <span>{{spe.SportSI}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" ng-repeat="spe in selectedEmp.SpecialInfo" style="margin-bottom:5px;">
                    <div flex="35">
                        <span class="fontStyle">Knowledge</span>
                    </div>
                    <div flex>
                        <span>{{spe.KnowledgeSI}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" ng-repeat="spe in selectedEmp.SpecialInfo" style="margin-bottom:5px;">
                    <div flex="35">
                        <span class="fontStyle">Other</span>
                    </div>
                    <div flex>
                        <span>{{spe.OtherSI}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column">
                    <div flex="90">
                    </div>
                    <div flex>
                        <div ng-click="specialShowDis = false">
                            <span style="font-weight: bold;cursor:pointer;">Hide</span>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <!-- 7 -->
    <md-card>
        <md-toolbar class="md-accent">
            <h2 class="md-toolbar-tools">
      <span flex>Other Information</span>
      <!-- <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                           translate-aria-label="EMP.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-table-edit"></md-icon>
                </md-button> -->
    </h2>
        </md-toolbar>
        <md-card-content>
            <div ng-repeat="oth in selectedEmp.OtherInfo">
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div class="fontStyle" flex="50">
                        <span>I Can Work Up Country</span>
                    </div>
                    <div flex>
                        <span>{{oth.WorkCountryDescOI}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div class="fontStyle" flex>
                        <span>Person to be notified in case of emergency</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div flex="50">
                        <span class="fontStyle">FirstName : </span>
                        <span>{{oth.FirtNameOI}}</span>
                    </div>
                    <div flex>
                        <span class="fontStyle">LastName : </span>
                        <span>{{oth.LastNameOI}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div class="fontStyle" flex="50">
                        <span>Related to the applient as</span>
                    </div>
                    <div flex>
                        <span>{{oth.RelatedOI}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div class="fontStyle" flex="50">
                        <span>Address</span>
                    </div>
                    <div flex>
                        <span>{{oth.AddressOI}}</span>
                    </div>
                </div>
                <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                    <div class="fontStyle" flex="50">
                        <span>Telephone</span>
                    </div>
                    <div flex>
                        <span>{{oth.TelOI}}</span>
                    </div>
                </div>
                <!-- /////////////////// -->
                <div ng-hide="otherShowDis">
                    <div layout="row" layout-xs="column">
                        <div flex="90">
                        </div>
                        <div flex>
                            <div ng-click="otherShowDis = true">
                                <span style="font-weight: bold;cursor:pointer">More</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="otherShowDis">
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div class="fontStyle" flex="50">
                            <span>Source of job information</span>
                        </div>
                        <div flex>
                            <span>{{oth.SourceInfoOI}}</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div class="fontStyle" flex="50">
                            <span>Contagious Disease</span>
                        </div>
                        <div flex>
                            <span>{{oth.ContagiousFlagOI}}</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div class="fontStyle" flex>
                            <span>Give the name of relative/friend working with us know to you</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex="50">
                            <span class="fontStyle">FirstName : </span>
                            <span>{{oth.FirtNameWorkRelativeOI}}</span>
                        </div>
                        <div flex>
                            <span class="fontStyle">LastName : </span>
                            <span>{{oth.LastNameWorkRelativeOI}}</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div class="fontStyle" flex="50">
                            <span>Introduce yourself</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column" style="margin-bottom:5px;">
                        <div flex>
                            <span>{{oth.IntroduceYoureSelfOI}}</span>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column">
                        <div flex="90">
                        </div>
                        <div flex>
                            <div ng-click="otherShowDis = false">
                                <span style="font-weight: bold;cursor:pointer">Hide</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
